.metals
.vscode
.DS_Store
Project1Ex.scala
derby.log
.bloop
.bsp
metastore_db
target
covid-data.csv
README.md
project
.metals/metals.lock.db
output
.scalafmt.conf
.metals/metals.log
.metals/metals.h2.db